<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Cursos</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

        <!-- Header -->
    <header>
        <h1 class="navbar__title">
            Edwar Velásquez
            <span class="navbar__subtitle">Rico Programar</span>
        </h1>
    </header><!--Header-->
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item"><a href="/index.html" class="navbar__link">Inicio</a></li>
            <li class="navbar__item"><a href="/views/pages/courses.html" class="navbar__link">Cursos</a></li>
            <li class="navbar__item"><a href="/views/pages/contact.html" class="navbar__link">Contacto</a></li>
            <li class="navbar__item"><a href="/views/pages/about.html" class="navbar__link">Sobre mi</a></li>
        </ul>
    </nav><!--Navbar-->
    <h1>
        Estoy en cursos
    </h1>
</body>
</html>